img {
	border: none !important;
	box-shadow: none !important;
}

.font-xlarge {
	font-size: 1.1em !important;				
}

.font-large {
	font-size: 0.8em !important;				
}

.font-small {
	font-size: 0.75em !important;				
}

.red {
	color: red;
}

.white-color {
	color: #fff;
}

.white-color a {
	text-decoration: underline !important;
}

.white-color a:visited {
	color: #fff;
}

li.list-item {
	cursor: pointer;
}

iframe{
  overflow: hidden;
}

code {
	outline: none;
	word-wrap: break-word !important;
	max-height: 550px !important;
	color: #333;
}

.hidden-content {
	display: none;
}

button {
	font-size: 1em;
	background-color: #fff;
	cursor: pointer;
	padding: 5px;
	min-width: 100px;
}

.max-width {
	width: 100% !important;			
}

.white-background {
	background-color: #fff;
}

p.strikethrough {
	color: red;
	text-decoration: line-through;
}

::selection {
	background: #FFFF96;
	color: inherit;
}

.left {
	text-align: left !important;
}

h1, h2, h3, h4 {
	text-transform: none !important;
}

tbody tr td {
	padding: 10px !important;
}

tbody tr:nth-child(odd) {
   background-color: #eee;
}

tbody tr:nth-child(even) {
   background-color: #fff;
}

ul.list-unstyled {
	list-style: none;
}

.glyphicon {
	font-family: 'Glyphicons Halflings' !important;
	font-style: normal !important;
}

.underline {
	text-decoration: underline; 
	color: #000;
}

.css-reset {
	width: 50px; 
	height: 50px; 
	background-color: #f8a;
	text-align: center;
}

.result {
	text-align: left;
	background-color: #fff;
	width: 100% !important;
	border: 2px solid #ccc;
	padding: 5px !important;
	max-height: 200px;
	min-height: 60px;
	box-shadow: 1px 1px 1px 1px #ccc;
	overflow: auto;
}

.center {
	margin: 0 auto !important;
}