[submodule "jquery"]
	path = jquery
	url = git://github.com/jquery/jquery.git
[submodule "reveal"]
	path = reveal
	url = https://github.com/hakimel/reveal.js.git
[submodule "jasmine"]
	path = jasmine
	url = https://github.com/pivotal/jasmine.git
