<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>JDD jQuery</title>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="reveal/css/reveal.min.css">
    <link rel="stylesheet" href="reveal/css/theme/beige.css">
    
    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="css/vendor/github.css">
    <!-- Icons -->
    <link rel="stylesheet" href="css/vendor/bootstrap-glyphicons.css">
    <!-- app.css -->
    <link rel="stylesheet" href="css/app.css"> 
   
  </head>

  <body>

    <div class="reveal">
      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section data-background="#0091BE">
          <img src="img/HTML5_sticker.png" alt="" />
        </section>

        <section>
          <h1 class="text-center">jQuery, patterns och anti-patterns</h1>
          <img alt="JDD logo" src="img/JDD-transparent.png">

          <p>
            <small>
              <a href="http://nekman.se">Nils Ekman</a> (<a href="http://twitter.com/nekman">@nekman</a>)
            </small>
          </p>
        </section>

        <section>
          <h2>Agenda</h2>
          <ul>
            <li>Introduktion till jQuery</li>
            <li>API</li>
            <li>jQuery internt</li>
            <li>Plugins</li>            
            <li>Anti patterns</li>
          </ul>
        </section>

        <section class="white-color" data-background="#121A27">
          <img alt="jQuery logo" src="img/jquery_logo.png">

          <ul>
            <li class="fragment">
              Släppt 2006 av <a href="http://ejohn.org/">John Resig</a> <a href="https://twitter.com/jeresig">@jeresig</a>
            </li>       
            <li class="fragment">Open Source (<a href="https://github.com/jquery/jquery">https://github.com/jquery/jquery</a>)</li>
            <li class="fragment">Sköts av jQuery Foundation (<a href="http://jquery.org">http://jquery.org</a>)</li>
            <li class="fragment">Licensierat under MIT</li>
          </ul>         
        </section>

        <section data-background="#fff">
          <h2>jQuery Foundation Projects</h2>
          <img src="img/jquery.jpg" alt="" />
          <table>
            <tr>
              <td class="white-background">         
                <img src="img/jqueryui.jpg" alt="" />
              </td>
              <td class="white-background">
                <img src="img/jquerymobile.jpg" alt="" />
              </td>
            </tr>
            <tr>
              <td class="white-background">
                <img src="img/qunit.jpg" alt="" />
              </td>
              <td class="white-background">
                <img src="img/sizzle.jpg" alt="" />
              </td>
            </tr>
          </table>          
        </section>

        <section class="left font-small" style="width: auto;">
          <h2>Historik</h2>
          <table>
            <thead>
              <tr>
                <th colspan="2">Version</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr><td>0.X</td><td>2005-08-22</td><td>John Resig <a href="http://ejohn.org/blog/selectors-in-javascript/">nämner på sin blogg att han jobbar på ett nytt JS-bibliotek</a></td></tr>
              <tr class="fragment"><td>1.0</td><td>2006-08-26</td><td>Första release</td></tr>
              <tr class="fragment"><td>1.1</td><td>2007-06-17</td><td>Plugin repository</td></tr>
              <tr class="fragment"><td>1.2</td><td>2007-09-17</td><td>jQuery UI släpps</td></tr>          
              <tr class="fragment"><td>1.2.6</td><td>2008-05-09</td><td>QUnit 1.0</td></tr>             
              <tr class="fragment"><td>1.3</td><td>2009-01-14</td><td>Inför Sizzle</td></tr>
              <tr class="fragment"><td>1.5</td><td>2011-01-31</td><td>Stor $.ajax refaktorering. Inför <a href="https://api.jquery.com/jquery.deferred/">Deferred</a></td></tr>
              <tr class="fragment"><td>1.7</td><td>2011-11-03</td><td>Nytt event-API. Inför on/off. Registrerar sig själv som en <a href="http://en.wikipedia.org/wiki/Asynchronous_module_definition">AMD</a>-modul</td></tr>
              <tr class="fragment"><td>1.7</td><td>2011-11-16</td><td>jQuery Mobile 1.0</td></tr>
              <tr class="fragment"><td>1.7.2</td><td>2012-04-06</td><td>jQuery Foundation bildas</td></tr>
              <tr class="fragment"><td>2.0 / 1.10</td><td>2013-04-18</td><td>Två brancher, 2.0 för moderna browsers (IE9+) och 1.10 för äldre</td></tr>
              <tr class="fragment"><td>2.1 / 1.10.1</td><td>2013-11-16</td><td>Infört AMD internt. 2.0-versionen publiceras till <a href="https://npmjs.org/package/jquery">npm</a></td></tr>
            </tbody>
          </table>

          <aside class="notes">
            jQuery 2.0 is intended for the modern web; we’ve got jQuery 1.x to handle older browsers and fully expect to support it for several more years.
          </aside>

        </section>

        <section>
          <h1>Community</h1>
          <ul class="list-unstyled">
            <li>Repository <a href="http://github.com/jquery/jquery">github.com/jquery/jquery</a></li>
            <li>
              <ul>
                <li><strong>5955</strong> forks</li>
                <li><strong>2532</strong> watchers</li>
                <li><strong>27738</strong> stars</li>           
              </ul>
            </li>
            <li>API <a href="http://api.jquery.com">api.jquery.com</a></li>
            <li>Bugs <a href="http://bugs.jquery.com">bugs.jquery.com</a></li>
            <li>Learn <a href="http://learn.jquery.com">learn.jquery.com</a></li>
            <li>Forum <a href="http://forum.jquery.com">forum.jquery.com</a></li>
            <li>Plugins <a href="http://plugins.jquery.com">plugins.jquery.com</a></li>
          </ul>
          <br /><br />
          <div class="fragment">
            <p>Jämför gärna mognad, ålder, community med</p>
            <code><em>insert your favorite library</em></code>
          </div>

        </section>

        <section>
          <h2>Hello World!</h2>

          <pre class="max-width font-large"><code class="html" data-trim>
&lt;script src="//code.jquery.com/jquery-1.10.2.js"&gt;&lt;/script&gt;
          </code></pre>


          <pre class="max-width font-large"><code class="javascript" contenteditable data-trim>
jQuery(document).ready(function() {
  console.log('Hello World!');
});
          </code></pre>

          <button class="runnable">
            <i class="glyphicon glyphicon-play"></i>
          </button>
        </section>

        <section>


          <section>
            <h2>Vad är jQuery, i grund och botten?</h2>

            <p class="fragment">Cross browser DOM-wrapper?</p>
            <p class="fragment">Svart låda?</p>
            <p class="fragment">Schweizisk armékniv?</p>
            <h2 class="fragment js">JavaScript!</h2>
          </section>

          <section>
            <h2>Varför ska jag bry mig om jQuery?</h2>  
          </section>

          <section>
            <img src="img/JS-usage-statistics.png" alt="" />
            <small>
              <a href="http://trends.builtwith.com/javascript">http://trends.builtwith.com/javascript</a> - 2014-01-16
            </small>
            <p>
              Drygt 20% av alla publika sajter, som använder JavaScript, använder jQuery              
            </p>
          </section>

          <section>
            <h2>Stackoverflow</h2>
            <img src="img/stackoverflow-q.png" alt="" />
          </section>

          <section>
            <h2>Stackoverflow</h2>
            <p>Många JS-problem besvaras med jQuery-lösningar</p>
            <img src="img/stackoverflow-a.png" alt="" />
          </section>

          <section>
            <h2>Stackoverflow</h2>
            <img src="img/needsmorejquery.gif" alt="" /> 
          </section>

          <section>          
            <h2>Många tredjepartsramverk "drar in" jQuery</h2>          
            <p>JSF PrimeFaces/RichFaces</p>
            <p>ASP.NET MVC</p>
            <p>Ruby On Rails (3.1)</p>
            <p>Wordpress</p>
            
            <div>
              <small>
                <a href="http://weblog.rubyonrails.org/2011/4/21/jquery-new-default/">
                  http://weblog.rubyonrails.org/2011/4/21/jquery-new-default/
                </a>
              </small>
            </div>
            <small><span class="red">*</span> Med reservation för felskrivningar</small>
          </section>

          <section>
            <h2>
              Många JS-bibliotek använder sig av jQuery
            </h2>
            <img src="img/kendoui.jpg" alt="" />
            <img src="img/tb.jpg" alt="" />
            <img src="img/zurb.jpg" alt="" style="width:30%;height:30%;"/>
            <img src="img/backbone.jpg" alt="" />
            <img src="img/angular.jpg" alt="" />
            <img src="img/ember.jpg" alt="" />

            <p><span class="red">*</span> Angular och Ember går att köra utan jQuery, de 
            använder dock egna jQuery-"lite" bilbiotek med liknande API.</p>

          </section>
   
          <section>
            <h2>Vad hjälper jQuery oss med?</h2>
          </section>

          <section>
            <h3>DOM events</h3>
            <p>Registrera event på DOM-element</p>

            <div class="result">
              <input type="button" value="#btn" id="btn"/>
            </div>

<pre class="max-width font-large"><code class="javascript" contenteditable data-trim>
function listen(evt, el, func) {
  // W3C DOM
  if (el.addEventListener) {
    el.addEventListener(evt, func, false);
  // < IE9 DOM      
  } else if (el.attachEvent) {
    el.attachEvent('on' + evt, func);
  } else {
    throw 'Opps!';
  }
}

listen('click', document.getElementById('btn'), function() {
  console.log('Click!');
});
</code></pre>
        
          <button class="runnable">
            <i class="glyphicon glyphicon-play"></i>
          </button>          
        </section>
        
        <section>
          <h2>DOM events med jQuery</h2>
          <p>Fungerar i alla browsers!</p>

          <div class="result">
            <input type="button" value="#btn2" id="btn2"/>
          </div>

          <pre class="max-width font-xlarge"><code class="javascript" contenteditable data-trim>
jQuery('#btn2').on('click', function() {
  console.log('Clicked!');
});
          </code></pre>
        
          <button class="runnable">
            <i class="glyphicon glyphicon-play"></i>
          </button>
        </section>

        <section>
          <h2>DOM Selectors</h2>
          <img src="img/zebra-fig1.gif" alt="" />
          <pre class="max-width font-large"><code class="javascript" contenteditable data-trim>
var tables = document.getElementsByTagName('table');
for (var t = 0; t < tables.length; t++) {
  var rows = tables[t].getElementsByTagName('tr');
  for (var i = 1; i < rows.length; i += 2) {
    if (!/(^|\s)odd(\s|$)/.test(rows[i].className)) {
      rows[i].className += ' odd';
    }
  }
}
          </code></pre>
        </section>

        <section>
          <h2>DOM Selectors jQuery</h2>
          <img src="img/zebra-fig1.gif" alt="" />
          <pre class="max-width font-xlarge"><code class="javascript" contenteditable data-trim>
jQuery('tr:nth-child(odd)').addClass('odd');
          </code></pre>
        </section>

        <section>
          <h2>Cross Browser AJAX Get</h2>
          <pre class="max-width"><code class="javascript" contenteditable data-trim>
var xhrGet = function(url, callback) {
  var xhr;
  if (window.XMLHttpRequest) {
    // W3C
    xhr = new XMLHttpRequest();
  } else {
    // IE < 9
    var activeXNames = ['MSXML2.XMLHTTP.3.0',
                        'MSXML2.XMLHTTP',
                        'Microsoft.XMLHTTP'];

    for (var i = 0; !xhr && i < activeXNames.length; i++) {
      try {
        xhr = new ActiveXObject(activeXNames[i]);
      } catch(e) {
      }
    }
  }

  if (!xhr) {
    throw 'Could not create XMLHttpRequest!';
  }
 
  xhr.onreadystatechange = function() {
    // 4 === complete
    if (xhr.readyState !== 4) {
      return;
    }

    if (xhr.status !== 200 && xhr.status !== 304) {
      throw 'Error!';
    }

    callback(xhr.responseText);
  }

  xhr.open('GET', url, true);
  xhr.send(null);
};

xhrGet('/date', function(res) {
  console.log('Response', res);
});
          </code></pre>
          <button class="runnable">
            <i class="glyphicon glyphicon-play"></i>
          </button>
        </section>

        <section>
          <h2>jQuery AJAX Get</h2>
          <pre class="max-width font-xlarge"><code class="javascript" contenteditable data-trim>
jQuery.get('/date', function(res) {
  console.log('Response', res);
});
          </code></pre>
          <button class="runnable">
            <i class="glyphicon glyphicon-play"></i>
          </button>
        </section>
      </section>

      <section>
        <h2>Två versioner</h2>

        <p><strong>2.X</strong> - För moderna browsers (IE9+)</p>
        <p><strong>1.X</strong> - För äldre browsers (IE 6/7/8)</p> 

        <small>
          <a href="http://blog.jquery.com/2013/04/18/jquery-2-0-released/">
            http://blog.jquery.com/2013/04/18/jquery-2-0-released/
          </a>
        </small>

        <table class="center">
          <tr>
            <th>Version</th><th>Minifierad storlek</th>
          </tr>
          <tr>
            <td>2.0.3</td><td>28.56KB</td>
          </tr>
          <tr>
            <td>1.10.2</td><td>32.00KB</td> 
          </tr>
        </table>
        <small>
          <a href="http://mathiasbynens.be/demo/jquery-size">
             http://mathiasbynens.be/demo/jquery-size
          </a>
        </small>      
      </section>

      <section>
        <h2>Två versioner</h2>

        <img src="img/2.x-branch.png" alt="" />
        <small>
          <a href="https://github.com/jquery/jquery/blob/master/src/ajax/xhr.js">
            https://github.com/jquery/jquery/blob/master/src/ajax/xhr.js
          </a>
        </small>

        <img src="img/1.x-branch.png" alt="" />
        <small>
          <a href="https://github.com/jquery/jquery/blob/1.x-master/src/ajax/xhr.js">
            https://github.com/jquery/jquery/blob/1.x-master/src/ajax/xhr.js
          </a>
        </small>
      </section>


      <section>
        <h2>Två versioner</h2>

        <h3>2.X API === 1.X API</h3>
      </section>

      <section>
        <h2>2.X</h2>

        <p>Förslag på användning av jQuery 2.X (förutom för moderna browsers)</p> 
        <br />
        <div class="fragment">
          <ul class="center">
            <li>Google Chrome extensions</li>
            <li>Firefox extensions</li>
            <li>Firefox OS appar</li>
            <li>Chrome OS appar</li>
            <li>Windows 8 appar</li>
            <li>BlackBerry 10/PhoneGap appar</li>
            <li>Node.js (med t.ex. <a href="https://github.com/tmpvar/jsdom">jsdom</a>)</li>
            <li>Interna (intranät) appar</li>
          </ul>

          <div>
            <small>
              <a href="http://blog.jquery.com/2013/04/18/jquery-2-0-released/">
                http://blog.jquery.com/2013/04/18/jquery-2-0-released/
              </a>
            </small>
          </div>
        </div>
      </section>

      <section>
        <h2>Stödja både äldre och nya IE?</h2>

        <p>Använd "IE conditionals"</p>
        <pre class="fragment max-width font-large"><code class="html" data-trim>
<!--[if lt IE 9]>
    <script src="jquery-1.10.3.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
    &lt;script src="jquery-2.0.3.js"&gt;&lt;/script&gt;
<!--<![endif]-->
</code></pre>
      </section>

      <section>        
        <section>
          <h2>jQuery-funktionen</h2>
          <p class="fragment">
            Tar en selector, DOM-element, funktion eller ett annat jQuery objekt.
            Returnerar <u>alltid</u> sig själv (sin prototyp).
          </p>
          <p class="fragment">
            Hanterar <code>null</code>, <code>''</code>,<code>false</code> mm.
          </p>
          <div class="fragment">
            <pre class="max-width font-large"><code class="javascript" data-trim contenteditable>
var $body = jQuery('body');
console.log($body); 
/*
 Kastar dock fel om man skriver: jQuery('#div:'), jQuery(':'), jQuery(';') etc.
 */
            </code></pre>
            <button class="runnable">
              <i class="glyphicon glyphicon-play"></i>
            </button>
          </div>
        </section>

        <section>
          <h2>jQuery-funktionen</h2>
          <p class="fragment">
            Har en <code>length</code> property som innehåller antalet element
          </p>
          <div class="fragment">
            <pre class="max-width font-large"><code class="javascript" data-trim contenteditable>
var $carts = jQuery('.cart'); 
if ($carts) {
  console.log('Found .cart');
}

if ($carts !== null) {
  console.log('Found .cart');
}

if ($carts.length) {
  console.log('Found .cart');
}
          </code></pre>
          <button class="runnable">
            <i class="glyphicon glyphicon-play"></i>
          </button>

          </div>

          <p class="fragment">
            Använd alltid <code>length</code> för att kolla 
            om ett element finns eller ej.
          </p>

        </section>

        <section>
          <h2><code>jQuery</code> eller <code>$</code>-funktionen?</h2>
          
          <div class="fragment">
            <p>De betyder samma sak!</p>
            <p>~ rad 8800 i jquery-2.0.3.js / ~ rad 9800 i jquery-1.10.2.js</p>            
            <pre class="max-width font-xlarge"><code class="javascript" data-trim>
window.jQuery = window.$ = jQuery;
</code></pre>
          </div>
        </section>

        <section>
          <h1>jQuerys API</h1>

          <p>Uppdelat i olika moduler <small style="color:red;">*</small></p>

          <ul class="list-unstyled">
            <li>Selectors</li>
            <li>Traversing</li>
            <li>CSS</li>
            <li>Manipulation</li>
            <!-- Attributes -->
            <li>Events</li>
            <li>Effects</li>
            <li>Utilities</li>
          </ul>

          <p>
            <small><span style="color:red;">* </span>Går nu även att exkludera moduler</small>
          </p>
        </section>

        <section>
          <h2>jQuerys grundkoncept</h2>
          <blockquote>"Get some elements, do something with them"</blockquote>
        </section>

        <section>
          <h2>Selectors (Get some elements...)</h2>
          <pre class="max-width font-xlarge"><code class="javascript" data-trim contenteditable>
jQuery('div');
//-------^- Selector, hämta alla &lt;div/&gt;
$('a[href="#"]');
//--^---- Selector, hämta alla a-taggar med attributet 'href=#'
$('div.foo');
//--^---- Selector, hämta alla div-taggar med klassen '.foo'</code></pre>
          <button class="runnable">
            <i class="glyphicon glyphicon-play"></i>
          </button>
        </section>

        <section>
          <h2>Do</span> something with them...</h2>
          <p><code>jQuery()</code>-funktionen skapar en ny instans av jQuery (<code>new jQuery.prototype.init(...)</code>)</p>
          <p>Med hjälp av metoderna på prototypen (<code>jQuery.prototype</code>) kan man sedan göra diverse saker (do something)</p>
          <p><strong>Notera:</strong> <code>jQuery.fn === jQuery.prototype</code></p>
        </section>

        <section>
          <h2><span class="underline">Do</span> something with them...</h2>
          <div class="result">
            <p class="hidden" style="display:none;">Hidden content</p>            
          </div>

          <pre class="max-width font-xlarge"><code class="javascript" data-trim contenteditable>
$('.hidden').show();
 //----------^--- Do something

$('li').each(function(index, el) {
  //----^--- Do something
  // el = DOM-node
  // this = DOM-node 
  console.log('li', index, this);
});</code></pre>

          <button class="runnable">
            <i class="glyphicon glyphicon-play"></i>
          </button>
        </section>

        <section>
          <h2><span class="underline">Do</span> something with them...</h2>

          <div class="result">
            <ul id="list" class="list-unstyled">
              <li>My list item</li>
            </ul>
          </div>

          <pre class="max-width font-xlarge"><code class="javascript" data-trim contenteditable>
$('ul#list li')
  .addClass('list-item')
  .on('click', function() {
    console.log(
      $(this).hasClass('list-item')
      //--^-- &lt;li /&gt;
    );
  });
          </code></pre>
          
          <button class="runnable">
            <i class="glyphicon glyphicon-play"></i>
          </button>

        </section>

        <section>
          <h2><span class="underline">Create</span> some elements...</h2>
          <pre class="max-width font-xlarge"><code class="javascript" contenteditable>
$('&lt;li&gt;');
  //^---- "Create" (styrs av < > taggarna)
          </code></pre>
          <button class="runnable">
            <i class="glyphicon glyphicon-play"></i>
          </button>
        </section>

        <section>
          <h2><span class="underline">Create</span> some elements...</h2>
          <div class="result">
            <ul id="result">
              <li>My list item</li>
            </ul>
          </div>
          <pre class="max-width font-xlarge"><code class="javascript" data-trim contenteditable>
$('&lt;li&gt;')
   //... Do something...
   .text('My other item')
   .css({ color: 'green' })
   .appendTo('#result');
          </code></pre>
          <button class="runnable">
            <i class="glyphicon glyphicon-play"></i>
          </button>
          
          <aside class="notes">
            Create med properties
          </aside>

        </section>

        <section>
          <h2>CSS</h2>
           <table class="center">
            <tr>
              <td><code>position</code></td><td><code>offset</code></td>
            </tr>
            <tr>
              <td><code>width</code></td><td><code>height</code></td>
            </tr>
            <tr>
              <td><code>css</code></td><td><code></code></td>
            </tr>            
          </table>

          <p>m.m</p>
        </section>

        <section>
          <h2>CSS</h2>
          <pre class="max-width font-xlarge"><code class="javascript" data-trim contenteditable>
$('h2').css({
  color: '#BADA55',
  fontSize: '5.11em'
});
  
console.log('height', $(window).height());
</code></pre>

          <button class="runnable">
            <i class="glyphicon glyphicon-play"></i>
          </button>
        </section>        

        <section>
          <h2>Manipulation</h2>
           <table class="center">
            <tr>
              <td><code>html</code></td><td><code>text</code></td>
            </tr>
            <tr>
              <td><code>empty</code></td><td><code>remove</code></td>
            </tr>
            <tr>
              <td><code>append</code></td><td><code>appendTo</code></td>
            </tr>            
          </table>

          <p>m.m</p>
        </section>

        <section>
          <h2 class="manipulation">Manipulation</h2>
          <pre class="max-width font-xlarge"><code class="javascript" data-trim contenteditable>
var $h2 = $('h2.manipulation'),
    text = $h2.text(); //Get

$h2.text('Simple manipulation'); //Set

console.log('Old', text);
console.log('New', $h2.text());
</code></pre>

          <button class="runnable">
            <i class="glyphicon glyphicon-play"></i>
          </button>
        </section>  

        <section>
          <h2>Events</h2>
           <table class="center">
            <tr>
              <td><code>on</code></td><td><code>off</code></td>
            </tr>
            <tr>
              <td><code>delegate</code></td><td><code>live</code></td>
            </tr>
            <tr>
              <td><code>bind</code></td><td><code>unbind</code></td>
            </tr>
            <tr>
              <td><code>trigger</code></td><td><code>ready</code></td>
            </tr>
            <tr>
              <td><code>blur</code></td><td><code>focus</code></td>
            </tr>
            <tr>
              <td><code>click</code></td><td><code>dblclick</code></td>
            </tr>
            <tr>
              <td><code>mouseover</code></td><td><code>mouseout</code></td>
            </tr>
          </table>

          <p>m.m</p>
        </section>

        <section>
          <h2 class="events">Events</h2>
          <pre class="max-width font-xlarge"><code class="javascript" data-trim contenteditable>
$('h2.events')
  .on('mouseover', function(e) {
    console.log('mouseover', e);
  })
  .on('mouseleave', function() {
    console.log('mouseleave', this);
  })
  .trigger('mouseover');
</code></pre>

          <button class="runnable">
            <i class="glyphicon glyphicon-play"></i>
          </button>
        </section>  

        <section>
          <h2>Traversering</h2>
           <table class="center">
            <tr>
              <td><code>next</code></td><td><code>prev</code></td>
            </tr>
            <tr>
              <td><code>parent</code></td><td><code>parents</code></td>
            </tr>
            <tr>
              <td><code>add</code></td><td><code>end</code></td>
            </tr>
            <tr>
              <td><code>filter</code></td><td><code>closest</code></td>
            </tr>
          </table>

          <p>m.m</p>
        </section>

        <section>
          <h2>Traversering</h2>
          <pre class="max-width font-xlarge"><code class="javascript" data-trim contenteditable>
var $uls = $('ul') //[ul, ul]
             .filter(':not([data-toggle])')
             .find('li') //[li, li]
             .addClass('special')
             .end() //[ul, ul]
             .addClass('super-special');

console.log($uls);
</code></pre>

          <button class="runnable">
            <i class="glyphicon glyphicon-play"></i>
          </button>
        </section>

        <section>
          <h2>Effects</h2>
             <table class="center">
              <tr>
                <td><code>slideDown</code></td><td><code>slideUp</code></td><td><code>slideToggle</code></td>
              </tr>
              <tr>
                <td><code>fadeIn</code></td><td><code>fadeOut</code></td><td><code>stop</code></td>
              </tr>
              <tr>
                <td><code>animate</code></td><td><code>show</code></td><td><code>hide</code></td>
              </tr>
            </table>

            <p>m.m</p>
        </section>

        <section>
          <h2>Effects - <code>animate</code></h2>

          <div class="result">
            <div id="effects" class="css-reset"></div>
          </div>

          <pre class="max-width font-xlarge"><code class="javascript" data-trim contenteditable>
$('#effects').animate({
  height: 100, 
  width: 250,
  opacity: .5
}, 200, function(){
  $(this).html('&lt;strong&gt;Done!&lt;/strong&gt;');
});
          </code></pre>
          <button class="runnable">
            <i class="glyphicon glyphicon-play"></i>
          </button>

          <button data-reset-css="#effects" />
            Reset
          </button>

        </section>
      </section>

      <section>
        <section>
          <h2>Utility metoder</h2>

          <p>Finns flera statiska "utility"-metoder på <code>jQuery</code> funktionen</p>
          <div class="fragment">            
            <table class="center">
              <tr>
                <td><code>isFunction</code></td><td><code>isArray</code></td>
              </tr>
              <tr>
                <td><code>isEmptyObject</code></td><td><code>noop</code></td>
              </tr>
              <tr>
                <td><code>each</code></td><td><code>map</code></td>
              </tr>
              <tr>
                <td><code>proxy</code></td><td><code>extend</code></td>
              </tr>
              <tr>
                <td><code>Deferred</code></td><td><code>ajax</code></td>
              </tr>
            </table>

          </div>

        </section>

        <section>
          <h2>Utility metoder</h2>
          <code>jQuery.each / jQuery.map</code>
          <div class="fragment">
          <pre class="max-width font-large"><code class="javascript" data-trim contenteditable>

$.each({ a: 1, b: 2, c: 3 }, function(key, value) {
  console.log(key, value); 
});

$.each(['a', 'b', 'c'], function(index, value) {
  console.log(index, value); 
});

var result = $.map(['2', '3', '4'], function(value) { 
  return parseInt(value) > 2 ? value : null; 
});

console.log('Result', result);
            </code></pre>
            <button class="runnable">
              <i class="glyphicon glyphicon-play"></i>
            </button>

            <aside class="notes">
              > Visa att utility-metoder ej matchar motsvarigheten i ES5.

              > För att functions är "first-class objects" kan man
              utöka dessa med egna properties etc.
            </aside>

          </div>
        </section>

        <section>
          <h2>Utility metoder</h2>

          <p class="fragment">Sedan version 1.5 implementerar jQuery (delar av) Promise/A+</p>

          <div class="fragment">

            <img src="img/promise.png" alt="" />
            <br />
            <small>
              <a href="http://promises-aplus.github.io/promises-spec/">http://promises-aplus.github.io/promises-spec/</a>
            </small>
          </div>

          <div class="fragment">
          <pre class="max-width font-large"><code class="javascript" data-trim contenteditable>
var promise = $('body').fadeOut('slow').promise();

promise.done(function($body) {
  $body.fadeIn('fast');
});
          </code></pre>
          <button class="runnable">
            <i class="glyphicon glyphicon-play"></i>
          </button>

          </div>

        </section>

        <section>
          <h2>Utility metoder</h2>

          <p>Skapa egna promises? Använd <code>jQuery.Deferred</code></p>          
          <div class="fragment">
            <pre class="max-width font-large"><code class="javascript" data-trim contenteditable>
function async(shouldFail) {
  var dfd = $.Deferred();
  // Do some async stuff...
  setTimeout(function() {
    shouldFail ? dfd.reject() : dfd.resolve();
  }, 500 + Math.floor(Math.random() * 1000));

  return dfd.promise();
}

async().done(function() {
  console.log('Done!', arguments);
}).fail(function() {
  console.error('Fail', arguments);
});
            </code></pre>
            <button class="runnable">
              <i class="glyphicon glyphicon-play"></i>
            </button>

            <aside class="notes">
              Infördes redan i version 1.5. Många "vet" dock inte om detta.
              Refaktorera. Visa jQuery.when
            </aside>

          </div>
        </section>

        <section>
          <h2>Utility metoder</h2>

          <p><code>jQuery.ajax</code> returnerar ett <code>jqXHR</code> objekt, som använder <code>Deferred</code><small class="red">*</small> </p>
          <div class="fragment">
            <pre class="max-width font-large"><code class="javascript" data-trim contenteditable>
// Gammalt sätt, använda callbacks.
$.ajax({
  url: '/echo',
  method: 'POST',
  data: { hello: 'world '},
  success: function(res) {
    console.log('Response', res);
  },
  error: function(err) {
    console.error('Opps!', err);
  }
});
            </code></pre>
            <button class="runnable">
              <i class="glyphicon glyphicon-play"></i>
            </button>

            <aside class="notes">
              Refaktorera till att använda done och fail istället.
            </aside>

            <p>
              <small class="red">*</small><a href="http://api.jquery.com/deferred.fail/">http://api.jquery.com/deferred.fail/</a>
              </p>
          </div>
        </section>

        <section>
          <h2>Utility metoder</h2>

          <p><code>jQuery.proxy</code> bestämmer innebörden av <code>this</code></p>
          <p class="fragment">Kan med ES5 göras genom att använda <code>Function.prototype.bind</code></p>
          <div class="fragment">
            <div class="result">
              <a href="javascript:;" class="hello">Say hello</a>
            </div>
           
              <pre class="max-width font-large"><code class="javascript" data-trim contenteditable>
var Person = function(name) {
  this.name = name;
};

Person.prototype.sayHello = function() {
  console.log('%s says hello', this.name);
};

var p = new Person('Nils');
$('a.hello').on('click', $.proxy(p.sayHello, p));
              </code></pre>
              <button class="runnable">
                <i class="glyphicon glyphicon-play"></i>
              </button>

              <aside class="notes">
                Refaktorera. Skicka hälsning till.
              </aside>
            </div>
        </section>

      </section>

      <section>
        <section>
          <h2>jQuery internt</h2>
          <p class="fragment">Vad händer när vi skriver den "magiska" <code>$('...');</code>?</p>
          <p class="fragment">Hur kan jQuery utökas med egna plugins?</p>

        </section>

        <section>
          <h2>jQuery internt</h2>
          <pre class="max-width"><code class="javascript" contenteditable data-trim>
(function(window, undefined) {
  var rootjQuery,
      _$ = window.$ //Ta kopia på global $...,
        
  /** 
   * jQuery-funktionen, körs varje gång
   * vi skriver jQuery('...') eller $('...')
   * skapar en ny instans av jQuery genom att anropa
   * 'new jQuery.prototype.init'
   */
  jQuery = function(selector, context) {
    return new jQuery.fn.init(selector, context, rootjQuery);
  };

  /* Statiska metoder som vi kommer åt 
   * direkt via jQuery.
   *
   * T.ex. jQuery.ajax, jQuery.each, jQuery.noConflict mm.
   * 
   */
  jQuery.noConflict = function() {
    window.jQuery = window.$ = _$;

    return jQuery;
  };
  // ... Mer utilities

 /**
  * jQuery.fn === jQuery.prototype (betyder precis samma sak) 
  */
  jQuery.fn = jQuery.prototype = {
    constructor: jQuery,

    length: 0,
    selector: '',

    /**
     * Anropas från jQuery() konstruktorn.
     */
    init: function(selector, context, rootjQuery) {
      // Get some elements...
            
      return this;
    }

    // Mer metoder på jQuery.prototype (do something...)
  };

  // Viktigt, så det som returneras från jQuery.fn.init har tillgång till
  // metoderna på jQuery.fn.
  jQuery.fn.init.prototype = jQuery.fn;

 /**
  * Längst ner i jquery.js exporteras jQuery och $ till
  * globalt scope i browser-miljö.
  *
  * jQuery vill vara kompis med alla.
  * Registrerar sig därför även som AMD-modul, eller exporterar sig mha module.exports
  * för CommonJS (NodeJS / Browserify) användare.
  *
  */
  if (typeof module === 'object' && typeof module.exports === 'function') {
    // CommonJS
    module.exports = jQuery;
  } else {
    // Expose to global object + AMD
    if (typeof define === 'function' && define.amd) {
      define('jquery', [], function() { return jQuery; });
    }

    window.jQuery = window.$ = jQuery;
  }  

}(window));

          </code></pre>
        </section>

        <section>
          <h2>jQuery internt</h2>
          <p>Vad lärde vi oss från förra sliden?</p>

          <ul class="fragment list-unstyled">
            <li>Tillämpa DRY (don't repeat yourself). Spara på anrop till <code>$('...');</code></li>
            <li>Kan innebära prestandaförluster i din applikation (speciellt vid <code>mouse</code>-events)</li>
          </ul>
        </section>

        <section>
          <h2>jQuery plugins</h2>
          <ol class="fragment">
            <li>Utility plugins</code></li>
            <li>DOM-plugins (som opererar på DOM-noder)</li>
          </ol>
        </section>

        <section>
          <h2 class="utility">Utility plugins</h2>
<pre class="max-width font-large"><code class="javascript" contenteditable data-trim>
(function($) {
  'use strict';

  $.random = function(min, max) {
    return Math.floor(Math.random() * (max - min + 1) + min);
  };

}(jQuery));

console.log($.random(10, 20));
</code></pre>
          <button class="runnable">
            <i class="glyphicon glyphicon-play"></i>
          </button>
        </section>

        <section class="beautify">
          <h2 class="dom">DOM-plugin</h2>
<pre class="max-width"><code class="javascript" contenteditable data-trim>
(function($) {
  'use strict';
  var settings = {
    backgroundColor: '#BADA55', 
    color: '#f8a'
  },

  beautify = function() {
    $(this).css(settings);
  };

  $.fn.beautify = function(options) {  
    // Kolla först om vi har något att jobba med,
    // onödigt att anropa 'each' annars.
    if (!this.length) {
      return this;
    }

    $.extend(settings, options);

    return this.each(beautify);
  };

}(jQuery));

$('section.beautify')
    .children()
    .beautify({ color: 'brown' });
</code></pre>
          <button class="runnable">
            <i class="glyphicon glyphicon-play"></i>
          </button>
        </section>
      </section>

      <section>
        <h1>jQuery (JS) anti-patterns</h1>
      </section>

      <section>
        <h2>Anti-patterns</h2>

        <div class="left">
          <div class="fragment">
            <p>Att anropa <code>$(...)</code> hela tiden</p>
          </div>

          <div class="fragment">
            <p>Att skriva för komplicerade selectors</p>
            <p><code>$('li > span:not(.even):first')</code></p>
          </div>

          <div class="fragment">
            <p>Att inte använda <code>length</code> för att kontrollera om en DOM-nod finns</p>
          </div>

          <div class="fragment">
            <p>Att nästla sin kod i anonyma funktioner. T.ex. all kod i <code>$(document).ready</code></p>
          </div>

          <div class="fragment">
            <p>Att haka på nya eventlyssnare i callbacks för eventlyssnare</p>

            <pre class="font-large"><code class="javascript" data-trim>
$('#stuff').on('mouseover', function() {
  $('.list').on('mouseleave', function() {
    $(this).removeClass('active');
  });
});
            </code></pre>
          </div>
        </div>
      </section>

      <section>
        <h2>Anti patterns forts...</h2>
        <div class="left">
          <div class="fragment">
            <p>Att mixa <code>jQuery</code>-kod med vanligt DOM-api, är jQuery inladdat från början, använd det...eller gör det inte, men mixa inte.</p>
            <code>$('#div')[0].innerHTML = '&lt;strong&gt;bold&lt;/strong&gt;';</code>
          </div>

          <div class="fragment">
            <p>Att lägga till DOM-noder i loopar:</p>
            <pre class="font-large"><code class="javascript" data-trim>
var $item = $('#item');
$.each(longTextArray, function(index, item) {
  $item.append('&lt;li&gt;' + item + '&lt;/li&gt;');
});
</code></pre>
          </div>

          <div class="fragment">
            <p>Bättre lösning. Bygg array och anropa <code>join('')</code>.</p>
            <pre class="font-large"><code class="javascript" data-trim>
var array = [];
$.each(longTextArray, function(index, item) {
  array.push('&lt;li&gt;' + item + '&lt;/li&gt;');
});
$('#item').html(array.join(''));
</code></pre>
          </div>
      </section>

      <section>
        <h2>ShoppingCart anti-pattern</h2>
      </section>

      <section>
        <h2>ShoppingCart API</h2>
        <ul>
          <li>Finns ett API för att lägga till produkter i en varukorg</li>
          <li>Sparar varukorgen i sessionen</li>
          <li>Tillkrånglat och anpassat till att vara "snackigt" för demosyftet</li>
        </ul>

        <table class="fragment">
          <tr>
            <th>Metod</th>
            <th>Beskrivning</th>
          </tr>
          <tr>
            <td><code>/cart/store/&lt;id&gt;</code></td><td>Lägger till en produkt i varukorgen</td>
          </tr>
          <tr>
            <td><code>/cart/remove/&lt;id&gt;</code></td><td>Tar bort en produkt från varukorgen</td>
          </tr>
          <tr>
            <td><code>/cart/summary</code></td><td>Hämtar summering för varukorgen</td>
          </tr>
          <tr>
            <td><code>/cart/total</code></td><td>Hämtar totalbeloppet för hela varukorgen</td>
          </tr>
        </table>        
      </section>

      <section>
        <iframe src="/shoppingcart?script=shoppingcart-spagetti.js" width="900" height="700" scrolling="no">
        </iframe>
      </section>

      <section>
        <h2>Hur testar man denna ShoppingCart?</h2>
      </section>

      <section class="white-color" data-background="#000">
        <div>
          <p>Ska jag testa min JS-kod?!</p>
        </div>

        <div class="fragment" style="margin-top:110px;">
          <div>
            <strong style="font-size:5em;">JA.</strong>
          </div>
          <br/>
          <br/>
          <small>* Åtminstonde om du jobbar med mycket JS på klienten. Kanske inte om du endast ska starta upp en plugin efter document.ready</small>
        </div>
      </section>

      <section class="white-color" data-background="#000">
        <h2 style="color: white !important;">Ingen CI-server att köra JS-tester på?</h2>        
        <p>Kör testerna i webbläsaren!</p>
      </section>

      <section>
        <h2>ShoppingCart refaktorerad</h2>
      </section>

      <section>
        <iframe src="/shoppingcart?script=shoppingcart-refactored.js" width="900" height="700" scrolling="no">
        </iframe>
      </section>

      <section>
        <iframe src="js/vendor/jasmine/SpecRunner.html" width="900" height="700" scrolling="no">
        </iframe>
      </section>

      <section>
        <h2>Värt att notera</h2>
        <p>Föregående "pattern" visar hur man <u>kan</u> göra.</p> 
        <p>Finns bättre sätt att lösa problemet på</p>

        <p>Om man är osäker på vilket pattern man behöver, kan man alltid testa ett MV* ramverk</p>

        <p>Finns en uppsjö av dessa på <a href="http://todomvc.com">http://todomvc.com</a></p>
      </section>

      <section>
        <h2>Det minsta man kan göra</h2>
        <p>Strukturera upp koden i en object-literal</p>
      </section>

     <section data-background="#fff">
      <h2>Det bästa man kan göra</h2>
      <img src="img/backbone.jpg" />        
     </section>


      <section>
        <h2>Tips för att få bättre prestanda</h2>
        <div class="fragment">
          <a href="http://jsperf.com/jquery-selectors-context/70">jsperf.com</a>

          <p>Kör prestandatest på selectors och funktioner om du är osäker</p>
          <p>Använd profilern i webbläsaren för att hitta prestandabovar</p>
        </div>
      </section>

      <section>
        <h2>Läsvärda länkar</h2>

        <ul class="list-unstyled">
          <li><a href="http://jqfundamentals.com/">http://jqfundamentals.com/</a></li>
          <li><a href="http://learn.jquery.com/">http://learn.jquery.com/</a></li>
          <li><a href="http://addyosmani.com/resources/essentialjsdesignpatterns/book/">http://addyosmani.com/resources/essentialjsdesignpatterns/book/</a></li>
          <li><a href="http://www.slideshare.net/rmurphey/the-jquery-divide-5287573">http://www.slideshare.net/rmurphey/the-jquery-divide-5287573</a></li>
        </ul>
      </section>

      <section>
        <h2>Tackar!</h2>

        <ul class="list-unstyled">
          <li>Presentation: <a href="http://jdd.azurewebsites.net/">http://jdd.azurewebsites.net</a></li>
          <li>Kod: <a href="https://github.com/nekman/JDD-jQuery">https://github.com/nekman/JDD-jQuery</a></li>
        </ul>

      </section>

      </div>

    </div>

    <!-- 
      Inkludera global jQuery, kommer behövas för att köra 
      script från console etc 
    --> 
    <script data-main="js/app.config" src="js/vendor/require.min.js"></script>
    
  </body>
</html>
